fastapi
pydantic
pytz
# python-jose[cryptography]  # alternatively for pyjwt + jwcrypto
pyjwt
jwcrypto
jwtjwkhelper>=0.0.6
aiofiles
python-multipart
passlib[bcrypt]
cachetools
loguru

deta

# creating pseudo-db-entries
faker
faker-commerce